*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar{
    background: #555;
    padding: 1rem;

}

.nav-list{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-link{
   color: white;
   text-decoration: none;
   padding: 0.5rem 1rem;
}
.nav-link:hover,
.nav-link.active{
    background: hsl(0, 1%, 17%);
    border-radius: 700px;
}

.main-content{
    padding: 2rem;
    min-height: 80vh;

}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: auto;
}
.menu-toggle{
    display: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}

@media (max-width: 768px){
    .navbar{
        position: relative;
    }
    .menu-toggle{
        display: block;
    }
    .nav-list{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    #menu-checkbox:checked ~ .nav-list{
        display: flex;
    }
    .nav-link{
        padding: 1rem;
    }
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
}