p.borda{
    border-style: solid;
    border-color: aquamarine;
    border-width: 5px;
}
p.margem{
    margin: 100px;
    border-style: dashed;
}

p.propriedade{
    margin: 100px;
    border-style: dotted;
    padding: 20px;
    text-align: center;
}
p.contorno{
    outline-style: double;
    outline-color: chocolate;
    margin: 40px;
    border-style: solid;
    border-color: black;
    padding: 15px;
}
.imagem{
    width: 30%;
    height: auto;
    
}
.center{
    text-align: center;
}